.home ::-webkit-scrollbar {
    display: none;
}
.home_mobile ::-webkit-scrollbar {
    display: none;
}
.home {
    display: flex;
    padding-top: 50px;
    justify-content: center;
}
.home_mobile{
    display: none;
}
.feedscroll {
    padding-bottom: none;
}
.status {
    background-color: transparent;
    max-width: 600px;
    margin: auto;
    overflow-x: auto;
    width: 98vw;
}

.sug{
    margin-top: 40px;
}

@media screen and (max-width: 990px) {
    .sug{
        display: none;
    }
    .home_mobile{
        display: block;
        margin-top: 0px;
        padding-top: 45px;
        min-height: 100vh;
        max-height: none;
    }
    .home{
        display: none;
    }
    .feedscroll {
        padding-bottom: 50px;
    }
    .statuslight{
        background-color: transparent;
    }
    .statusdark{
        background-color: transparent;
    }
}