.addStatus__btn {
    cursor: pointer;
    display: grid;
    place-items: center;
    margin-right: 5px;
}
.statusadd__img {
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    height: 100px;
    width: 80px;
    min-width: 80px;
    object-fit: cover;
    opacity: 0.8;
}
.statusaddicon {
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.addStatus__btn:hover {
    opacity: 1;
}
.status{
    display: flex;
}