.profile__img {
    height: 200px;
    width: 200px;
    min-width: 160px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.info_name {
    font-size: 32px;
    font-weight: 700;
}

/* .listitem{
    background-color: rgba(248,249,250,1);
    color: black;
}
.listitem:hover{
    background-color: rgb(210, 210, 210);
    color: black;
}
.listitemdark{
    background-color: rgba(33,37,41,1);
    border-bottom: 1px solid rgb(36, 34, 34);
    color: white;
}
.listitemdark:hover{
    color: white;
    background-color: rgb(66, 65, 65);
} */
.swal {
    color: black
}

.swaldark {
    color: white
}

.head {
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    display: flex;
}

@media screen and (max-width: 990px) {
    .head {
        margin: 2px;
    }

    .profile__img {
        height: 100px;
        width: 100px;
        min-width: 100px;
    }

    .info_name {
        font-size: 28px;
    }
}