.post {
    margin: 8px;
    max-width: 600px;
    margin-top: 20px;
}
.post__likecomment {
    justify-content: space-between;
    display: flex;
}
.addStatus {
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
    color: black;
    text-decoration: none;
}
.addStatus:hover {
    color: black;
}
.post__header{
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post__headerLeft{
    display: flex;
    align-items: center;
    margin: 5px;
}

.post__profilePic{
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 10px;
}

.post__delete {
    cursor: pointer;
}

.post__photoUrl {
    width: 600px;
    margin-bottom: 8px;
    height: 80vh;
    object-fit: cover;
}

.post__caption {
    padding: 0px 12px;
    max-width: 600px;
    word-wrap: break-word;
}
.post_like {
    display: flex;
}

@media screen and (max-width: 990px) {
    .post {
        width: 100vw;
        margin-top: 10px;
        box-shadow: none;
        background-color: transparent !important;
    }
    .post__photoUrl{
        width: 100%;
    }
}

