.userPost__img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.userPost__img:hover{
    cursor: pointer;
    box-shadow: 3px 3px 6px #686868, -3px -3px 6px #ffffff;
}
.userPost__video {
    height: 300px;
    width: 100%;
    object-fit: cover;    
}

.userPost__video:hover{
    cursor: pointer;
    box-shadow: 3px 3px 6px #686868, -3px -3px 6px #ffffff;
}

@media screen and (max-width: 990px) {
    .userPost__video {
        height: 200px;
    }
    .userPost__img {
        height: 200px;
    }
}
