.activeusers{
    padding: 10px;
    border-radius: 8px;
    overflow: auto;
    min-width: 380px;
    margin-left: 10px;
    margin-right: 10px;
}
.activeuserslist {
    margin-top: 20px;
    padding: 5px 10px;
    max-height: 200px;
    min-height: 50px;
    overflow-y: auto;
}
